# HTML files should be reviewed by AxelPet (Axel Petrelius)
*.html    @axelpet


# CSS files should be reviewed by Sebastian (Sebastian Weckström)
*.css     @sebastian23000



# JavaScript files should be reviewed by YasmineBrahimi (Yasmin Ebrahimi)
*.js      @yasminebrahimi


# PHP files should be reviewed by Rebepekka (Rebekka Kankaanpää)
*.php     @rebepekka



